@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    font-family: Roboto, sans-serif;
    max-width: 600px;
    border: 1px solid black;
    margin: 0 auto;
}

.data_form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

.data_city {
    width: 480px;
    padding: 11px 16px;
    font-size: 18px;
}

.search {
    padding-right: 16px;
}

.container_weather {
    display: flex;
    justify-content: space-between;
}

.low_bar {

    display: flex;
    justify-content: space-between;
    padding: 16px;


}

.result_city {
    font-size: 28px;

}

.title_righ {
    margin: 0;
    font-size: 1.2rem;
}

.righ_block {
    width: 50%;
}

.left {
   border-right: 1px solid black;
    width: 50%;
}

.block__header {
    border-bottom: 1px solid #000;
    padding: 16px;
}

.temp {
    padding-left: 16px;
}

.values_data {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 21px;
    padding: 16px;
    /* что тут лучше применять в таких моментах ? */
}

.result_temp {
    font-size: 70px;

}

.block_ul {
    font-size: 24px;
    padding: 25px 0 0 18px;
}

.favorites_city {
    position: relative;
}

.svg_delete {
    content: url(../img/deleteCity.svg);
    position: absolute;
    top: 2px;
    padding-left: 2px;
}

.top_city {
    padding: 3px;
}

.time_container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 21px;
}

.timeBlock {
    padding-bottom: 10px;
    padding-top: 10px;
}

.line {
    border-bottom: 2px solid black;

}
i {
    font-style: normal;

}

.heart:hover {
    fill: red;
}
.img{
    height: 70px;
    position: absolute;
    top: 90px;
}
